snippet fmatter
---
title: 2017-07-20 — Sumatra Aceh-Mandheling
date: ${2:`date +%Y-%m-%d`}
tags: []
guid: `perl -MData::GUID=guid_string -E'say guid_string()'`
total_roast:
first_crack
rating:
roast_level:
start_weight: 1.2
end_weight: 1.0
weight_loss:
---
$0
endsnippet
